.img-modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 1;
}

.img-modal-container {
  position: fixed;
  top: 10%;
  left: 10%;
  max-width: 80rem;
  z-index: 1;
}

.img-carousel {
  display: flex;
  max-width: 50rem;
  height: 18rem;
  overflow-x: scroll;
}

.img-modal {
  width: 15rem;
  height: 15rem;
  margin: 1rem;
}