.img-carousel-outside {
  align-items: center;
  background-color: #0C1B33CC;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  overflow: scroll;
  position: absolute;
  padding: 5px;
  width: 100%;
}

.img-carousel-outside:hover {
  cursor: pointer;
}

.img-carousel-container {
  border: 1px solid #E60023;
  height: 30%;
  margin: 3px;
  max-height: 30%;
  max-width: 30%;
  width: 30%;
}

.img-carousel-container img {
  height: 100%;
  width: 100%;
}
