/* #related-widget {
  max-width: 1400px;
  padding: 3em;
  margin: 3em auto;
} */

#related-wdiget * {
  box-sizing: border-box;
}

/* .related-carousel-outside {
  display: flex;
  width: 100%;
}

.related-carousel-inside {
  display: flex;
  margin: 0 10px;
  overflow: scroll;
  scroll-behavior: smooth;
  scroll-padding: 1rem;
}

.rel-item {
  max-width: 15rem;
  max-height: 25rem;
  margin: 0 1rem;
  scroll-snap-align: start;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

#rel-img-wrapper {
  max-height: 15rem;
  max-width: 15rem;
  cursor: pointer;
  position: relative;
}

#rel-img {
  max-width: 15rem;
  max-height: 15rem;
  object-fit: cover;
}

.star-modal {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  width: 1.5rem;
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  color: #e94864f2;
}

.rel-text {
  margin: 3px;
  font-weight: bold;
}

.rel-category {
  margin-top: 10px;
}

.rel-sale-price,
.rel-orig-price {
  margin-bottom: 10px;
} */


/* ///// STYLING OVERHAUL ///// */
#related-widget {
  max-width: 1400px;
  padding: 3em;
  margin: 3em auto;
}

.related-title {
  font-size: 2em;
  text-align: center;
}

.outfit-title {
  font-size: 2em;
  text-align: center;
}

/* CAROUSEL */
.related-carousel-outside {
  align-items: flex-start;
  display: flex;
  height: 475px;
  margin-bottom: 1.5em;
  max-height: 475px;
  max-width: 100%;
  width: 100%;
}

.scroll-btns-right {
  align-items: center;
  border-radius: 0 15px 15px 0;
  display: flex;
  height: 435px;
  justify-content: center;
  margin: 0 1em;
  width: 5%;
}

.scroll-btns-left {
  align-items: center;
  border-radius: 15px 0 0 15px;
  display: flex;
  height: 435px;
  justify-content: center;
  margin: 0 1em;
  width: 5%;
}

.rel-scroll {
  color: #E60023;
}

.scroll-btns-left:hover,
.scroll-btns-right:hover {
  background-color: #E60023;
  color: white;
  cursor: pointer;
}

.scroll-btns-left:hover svg,
.scroll-btns-right:hover svg {
  color: white;
}

.rel-scroll:hover {
  cursor: pointer;
}

.scrll-left {
  transform: scaleX(-1);
}

.related-carousel-inside {
  width: 100%;
  max-width: 100%;
}

.related-carousel-inside {
  align-items: center;
  display: flex;
  overflow: hidden;
  padding: 2em 2%;
  scroll-behavior: smooth;
  scroll-padding: 1em;
}


/* SINGLE PRODUCT TILE */
.rel-prod-wrapper {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  height: 375px;
  max-height: 375px;
  margin: 0 2%;
  min-width: 22%;
  max-width: 22%;
}

.rel-item {
  height: 100%;
}

.rel-img-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 60%;
  position: relative;
  width: 100%;
}

.rel-img {
  height: 100%;
  width: 100%;
}

.rel-card-text {
  display: flex;
  flex-direction: column;
  height: 40%;
  justify-content: space-evenly;
  padding: 0 10px;;
  width: 100%;
}

.rel-category {
  color: #746F72;
  font-size: .75em;
  margin-bottom: -10px;
}

.rel-name {
  font-weight: 500;
  margin-bottom: -10px;
}

.rel-stars * {
  color: #E60023;
}

.rel-orig-price {
  align-items: center;
  display: flex;
}

.compare {
  background-color: #E60023;
  border: 1px solid #E60023;
  color: #F7F4F3;
  padding: 5px 10px;
  text-transform: uppercase;
}

.compare:hover {
  background-color: #F7F4F3;
  color: #E60023;
}