.ratings-parent {
  display: flex;
  margin: auto;
}

.review-tile-container {
  display: flex;
}

.review-tile-summary {
  font-weight: 'bold';
}

.review-tile-stars {
  font-style: 'italic';
}

.review-tile-name {
  font-size: 12px;
  text-decoration: underline;
}

.review-tile-date {
  margin-left: 20px;
}

.review-tile-main-container {
  border-bottom: solid;
}

.review-single-star-container {
  height: 36px;
  width: 31px;
  display: inline-block;
}

.review-single-star-fill {
  position: relative;
  display: inline-block;
  height: 36px;
  background-color: #333333;
}

.review-single-star-outline {
  height: 36px;
  width: 31px;
  display: inline-block;
}

.review-main-star-container {
  display: flex;
}

.review-header {
  font-size: 32px;
  text-decoration: underline;
}

.review-list-container {
  margin-left: 6rem;
}

.review-tracker-bar-container {
  display: flex;
  flex-direction: row;
  width: 20rem;
}

.review-hover:hover {
  width: 120%;
  transform: scale(1.15, 1.15);
  /* background-color:#F3D8FF; */
  filter: drop-shadow(0 0 1rem black);
}


.review-tracker-text {

}

.review-tracker-bar-parent {
  height: 20px;
  width: 20rem;
  background-color: #d3d3d3;
  border-radius: 40px;
  margin: 5px;
  display: flex;
}

.review-tracker-bar-child {
  height: 100%;
  width: 0px;
  background-color: #04AA6D;
  border-radius: 40px;
  text-align: 'right';
  transition: ease-in 1s;
}

.review-tracker-bar-percent {
  padding: 10px;
  color: 'black';
  font-weight: 900;
}

.rvw-txt {
  display: flex;
  white-space: nowrap;
  text-align: center;
  margin: auto;
  font-size: 13px;

}

.test-test-test {
  width: auto;
  display: flex;
  flex-direction: column;
}

.review-avg-rating {
  line-height: 45px;
  font-size: 32px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: default;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: default;
}

.reivew-slider-label-container {
  display: flex;
  flex-direction: row;
}

.review-slider-label-1 {
  flex: 1;
  font-size: 10px;
}

.review-slider-label-2 {
  flex: 1;
  text-align: center;
  font-size: 10px;
}

.review-slider-label-3 {
  flex: 1;
  text-align: right;
  font-size: 10px;
}

.review-charTrackerMapper {
  margin: 1em;
}

.review-slidecontainer {
  display: flex;
  flex-direction: column;
}
