/* ///// TOP LEVEL COMPONTENT ///// */
#ratings-widget {
  margin: auto;
  margin-bottom: 5em;
  max-width: 1000px;
}

/* ///// TOP LEVEL COMPONTENT ///// */
#ratings-widget {
  margin: auto;
  max-width: 1200px;
}

.ratings-parent {
  display: flex;
  justify-content: space-between;
}

.review-tile-container-1 {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: .5em;
}

.review-tile-container-2 {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: .5em;
}

.review-tile-container-2 {
  display: flex;
}

.review-tile-nameAndDate {
  font-style:italic;
  margin-left: auto;
  margin-right: 1em;
}

.review-tile-nameAndDate {
  font-style:italic;
  margin-left: auto;
  margin-right: 1em;
}

.review-tile-summary {
  font-weight: bold;
}

.review-tile-stars {
  font-style: 'italic';
  margin-right: auto;
}

.review-tile-name {
  font-size: 12px;
  text-decoration: none;
}

.review-tile-main-container {
  border-bottom: solid;
  margin-bottom: .5em;
}

.review-single-star-container {
  height: 36px;
  width: 31px;
  display: inline-block;
}

.review-single-star-fill {
  position: relative;
  display: inline-block;
  height: 36px;
  background-color: #04AA6D;
  opacity: 0.7;
}

.review-single-star-outline {
  height: 36px;
  width: 31px;
  display: inline-block;
}

.review-main-star-container {
  display: flex;
  flex-direction: row;
}

.review-header {
  font-size: 2em;
  margin-bottom: 1em;
  text-decoration: underline;
}

.review-list-container {
  width: 50%;
}

.review-tracker-bar-container {
  display: flex;
  flex-direction: row;
  width: 20rem;

}

.review-hover-shell-container:hover {
  width: 120%;
  transform: scale(1.05, 1.05);

  filter: drop-shadow(0 0 1rem black);
}

.review-tracker-bar-parent {
  height: 20px;
  width: 20rem;
  background-color: #d3d3d3;
  border-radius: 40px;
  margin: 5px;
  display: flex;
}

.review-tracker-bar-child {
  height: 100%;
  width: 0px;
  background-color: #04AA6D;
  border-radius: 40px;
  text-align: 'right';
  transition: ease-in 1s;
  opacity: 0.7;
}

.review-tracker-bar-percent {
  padding: 10px;
  color: 'black';
  font-weight: 900;
}

.rvw-txt {
  display: flex;
  white-space: nowrap;
  text-align: center;
  margin: auto;
  font-size: 13px;

}

.test-test-test {
  width: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.review-avg-rating {
  line-height: 45px;
  font-size: 32px;
}

.review-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.review-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: default;
}

.review-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: default;
}

.review-slide-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.reivew-slider-label-container {
  display: flex;
  flex-direction: row;
}

.review-slider-label-1 {
  flex: 1;
  font-size: 12px;
}

.review-slider-label-2 {
  flex: 1;
  text-align: center;
  font-size: 12px;
}

.review-slider-label-3 {
  flex: 1;
  text-align: right;
  font-size: 12px;
}

.review-rating-breakdown-title {
  font-size: 24px;
}

.review-list-header {
  margin-bottom: 2em;
  font-size: 24px;
}

.review-tile-photos-container {
  display: flex;
}

.review-tile-individual-photo {
  max-width: 100px;
  max-height: 100px;
  padding: 5px;
}

.review-tile-individual-photo:hover {
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
}

.review-image-modal-full-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.review-tile-body {
  word-break: keep-all;
}

.review-elipses-span:hover {
  cursor: context-menu
}

.review-tile-recommendation {
  margin: 1em;
}

.review-tile-helpful {
  cursor: pointer;
  margin-left: 20px;
  font-size: 12px;
  text-decoration: underline;
  margin-bottom: .25em;
  border: none;
}

.review-helpful-span {
  text-decoration: none;
  display: inline-block;
  margin-right: 25px;
}

.review-tile-report {
  text-decoration: underline;
  cursor: pointer;
  margin-left: 25px;
  margin-right: 20px;
  font-size: 12px;
  border: none;
}

.review-list-dropdown-container {
  margin-bottom: 1rem;
  font-size: 24px;
}

.review-li-1 {
  font-size: 16px;
  border: 1px solid #ebebeb;
  border-radius: 25px;
  animation: fadeIn 1s;
}
.review-li-2 {
  font-size: 16px;
  border: 1px solid #ebebeb;
  border-radius: 25px;
  animation: fadeIn 1s 1s forwards;
  opacity: 0;
}
.review-li-3 {
  font-size: 16px;
  border: 1px solid #ebebeb;
  border-radius: 25px;
  animation: fadeIn 1s 2s forwards;
  opacity: 0;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.review-sort-dropdown-child {
  margin-left: 12rem;
  width: 115px;
  text-align: center;
}

.review-ul {

}

.review-dash-main  {
  display: block;
}

.test-container {
  display: flex;
  flex-direction: column;
}

.scroll-review-list {
  overflow-y: auto;
  height: 25rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-review-list::-webkit-scrollbar {
  display: none;
}

.write-review-modal {
position: fixed;
left: 0;
top: 0;
right: 0;
bottom: 0;
background-color: rgba(0, 0, 0, 0.5);
display: flex;
align-items: center;
justify-content: center;
}

.write-review-modal-parent {
  background-color: white;
  height: 25rem;
  width: 40rem;
  overflow-y: auto;
}

.test-test-test-test {
  height:30px;
  margin: 0;
  clear: both;
  width:100%;
  position: relative;
}

.write-review-modal-parent::-webkit-scrollbar {
  display: none;
}

.write-on {
  color: gold;
}
.write-off {
  color: lightgray;
}

.write-review-modal-label {
  font-size: .7rem;
  display: block;
  white-space: nowrap;
  overflow: hidden;
}

.radio-row-title {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 1.2rem;
  width: 75px;
}

.write-review-characteristics-modal {
  display: inline-block;
  justify-content: center;
}

.review-characteristics-modal-container {
  margin: auto;
  text-align: center;
}

.review-radio-row-container {
  display: flex;
  margin-bottom: 2rem;
}

.write-review-summary {
  height:auto;
  max-width:400px;
  color:#999;
  font-weight:400;
  font-size:24px;
  font-family: 'Comic Sans MS';
  width:100%;
  background:#fff;
  border-radius:3px;
  line-height:2em;
  border:none;
  box-shadow:0px 0px 5px 1px rgba(0,0,0,0.1);
  padding:30px;
  -webkit-transition: height 2s ease;
  -moz-transition: height 2s ease;
  -ms-transition: height 2s ease;
  -o-transition: height 2s ease;
  transition: height 2s ease;
  margin: 0 auto;
  margin-bottom: 0.25rem;
}

::-webkit-resizer {
  display: none;
}

.write-review-character-count {
  margin-left: 8rem;
  font-size: 12px;
  font-weight: 300;
  font-family: 'Comic Sans MS';
}

.write-review-thumbnail {
  text-align: center;
}


/* .review-sort-dropdown-main {
  border: medium dashed black;
} */

/* ///// ACTIVE FILTER COMPONENT ///// */


/* ///// EMAIL INPUT FOR WRITE REVIEW MODAL ///// */
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}
.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: black; /* FOR DEMO ONLY */
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}
.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}
.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
  font-weight: 700;
}
/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}

.write-review-email-parent {
  text-align: -webkit-center;
}

/* Upload Image Modal */

::-webkit-file-upload-button { cursor: pointer; }