.qa.question {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.qa.control {
  font-size: 1rem;
  font-weight: normal;
}

.qa.link {
  text-decoration: underline;
  cursor: pointer;
}

.qa.link-bold {
  text-decoration: none;
  font-weight: bold;
}

.qa.link-bold:hover {
  text-decoration: underline;
}

.qa.footer-btn {
  margin: 1rem 1rem 1rem 0rem;
  padding: 1rem;
  cursor: pointer;
  font-style: bold;
}

.qa.answers-section {
  display: flex;
  align-items: baseline;
}

.qa.answers-list {
  padding-left: 0.5rem;
}

.qa.answer {
  margin-bottom: 1.5rem;
}

.qa.photo-sml {
  max-width: 7.08rem;
  max-height: 4rem;
  margin-top: 0.7rem;
  margin-right: 0.25rem;
  cursor: pointer;
  border-radius: 0.25rem;
}

.qa.answer-info {
  margin: 0.7rem 0;
  font-size: 0.9rem;
  color: gray;
}

.qa.search {
  border-width: 1px;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.qa.search-input {
  border-style: none;
  flex: auto;
  height: 3rem;
  padding-left: 5px;
  padding-right: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.qa.search-icon {
  position: absolute;
  right: 0.5rem;
  padding: 1rem;
  cursor: pointer;
}